In [ ]:
loan = read.csv('/content/Loans_Training.csv')

In [ ]:
loan

       Approval Debt.to.Income.Ratio FICO.Score Request.Amount Interest
1      FALSE    0                    397         1000            450
2      FALSE    0                    403          500            225
3      FALSE    0                    408         1000            450
4      FALSE    0                    408         2000            900
5      FALSE    0                    411         5000           2250
6      FALSE    0                    413         5000           2250
7      FALSE    0                    416         6000           2700
8      FALSE    0                    421         2000            900
9      FALSE    0                    422        12000           5400
10     FALSE    0                    432        10000           4500
11     FALSE    0                    433         6000           2700
12     FALSE    0                    434         1000            450
13     FALSE    0                    434        19000           8550
14     FALSE    0                    435         3000           1350
15     FALSE    0                    436         6000           2700
16     FALSE    0                    438         5000           2250
17     FALSE    0                    439         1000            450
18     FALSE    0                    440         3000           1350
19     FALSE    0                    440        10000           4500
20     FALSE    0                    442         1000            450
21     FALSE    0                    447         2000            900
22     FALSE    0                    448         1000            450
23     FALSE    0                    448         5000           2250
24     FALSE    0                    448         7000           3150
25     FALSE    0                    449         2000            900
26     FALSE    0                    450        24000          10800
27     FALSE    0                    451          500            225
28     FALSE    0                    451         2000            900
29     FALSE    0                    452         1000            450
30     FALSE    0                    452         9000           4050
⋮      ⋮        ⋮                    ⋮          ⋮              ⋮
150273 TRUE     0.37                 689         5000           2250
150274 TRUE     0.37                 689        12000           5400
150275 TRUE     0.37                 689        17000           7650
150276 TRUE     0.37                 691         9000           4050
150277 TRUE     0.37                 692         6000           2700
150278 TRUE     0.37                 696        27000          12150
150279 TRUE     0.37                 696        33000          14850
150280 TRUE     0.37                 698         6000           2700
150281 TRUE     0.37                 700         6000           2700
150282 TRUE     0.37                 703         2000            900
150283 TRUE     0.37                 706        21000           9450
150284 TRUE     0.37                 711        10000           4500
150285 TRUE     0.37                 713         9000           4050
150286 TRUE     0.37                 714        17000           7650
150287 TRUE     0.37                 741        13000           5850
150288 TRUE     0.37                 742        16000           7200
150289 TRUE     0.37                 745         9000           4050
150290 TRUE     0.37                 771         5000           2250
150291 TRUE     0.38                 671         4000           1800
150292 TRUE     0.38                 679        17000           7650
150293 TRUE     0.38                 686         3000           1350
150294 TRUE     0.38                 689        16000           7200
150295 TRUE     0.38                 698        35000          15750
150296 TRUE     0.38                 703          500            225
150297 TRUE     0.38                 706        12000           5400
150298 TRUE     0.38                 709        19000           8550
150299 TRUE     0.38                 722        17000           7650
150300 TRUE     0.38                 747        11000           4950
150301 TRUE     0.39                 679        10000           4500
150302 TRUE     0.39                 769         7000           3150

In [ ]:
dim(loan)

[1] 150302      5

In [ ]:
prop.table(table(loan$Approval))

    FALSE      TRUE
0.4994345 0.5005655

In [ ]:
install.packages("rpart.plot")
install.packages("rattle")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bitops’, ‘XML’

In [ ]:
library(rpart)
library(rpart.plot)
library(rattle)


rpart_obj = rpart.control(minsplit=100, minbucket=10, cp=0, xval=10)

In [ ]:
rpart.plot(rpart_obj, type=3, digits=3, fallen.leaves=True)

ERROR: ignored