<a href="https://colab.research.google.com/github/yash1908/IDS/blob/main/HW5prb2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [ ]:
data = pd.read_csv('wine_flag_all.csv')

In [ ]:
data

       Type Alcohol_flag Sugar_flag
0       Red         High       High
1       Red         High        Low
2       Red          Low       High
3       Red         High        Low
4       Red          Low        Low
...     ...          ...        ...
3340  White         High       High
3341  White         High        Low
3342  White         High        Low
3343  White         High        Low
3344  White         High        Low

[3345 rows x 3 columns]

In [ ]:
data.describe()

         Type Alcohol_flag Sugar_flag
count    3345         3345       3345
unique      2            2          2
top     White          Low        Low
freq     2260         1684       1726

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3345 entries, 0 to 3344
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          3345 non-null   object
 1   Alcohol_flag  3345 non-null   object
 2   Sugar_flag    3345 non-null   object
dtypes: object(3)
memory usage: 78.5+ KB

In [ ]:
data.isnull().sum()

Type            0
Alcohol_flag    0
Sugar_flag      0
dtype: int64

# lets do some Label Encoding

* Type          - Red = 0, White = 1
* Alcohol_flag  - Low = 0, High = 1
* Sugar_flag    - Low = 0, High = 1

In [ ]:
data.replace({'Red' : 0, 'White' : 1, 'Low' : 0, 'High' : 1})

      Type  Alcohol_flag  Sugar_flag
0        0             1           1
1        0             1           0
2        0             0           1
3        0             1           0
4        0             0           0
...    ...           ...         ...
3340     1             1           1
3341     1             1           0
3342     1             1           0
3343     1             1           0
3344     1             1           0

[3345 rows x 3 columns]

In [ ]:
data_crosstab_alcohol = pd.crosstab(data['Type'], data['Alcohol_flag'])
data_crosstab_alcohol

Alcohol_flag  High   Low
Type
Red            485   600
White         1176  1084

In [ ]:
data_crosstab_sugar = pd.crosstab(data['Type'], data['Sugar_flag'])
data_crosstab_sugar

Sugar_flag  High  Low
Type
Red          237  848
White       1382  878

In [ ]:
# probability of Type red = total number of type red / total number of type Red+White

alcohol_red = (data_crosstab_alcohol['High']['Red'] + data_crosstab_alcohol['Low']['Red'])/len(data)
alcohol_red

0.3243647234678625

In [ ]:
# probability of Type White = total number of type White / total number of type Red+White

alcohol_White = (data_crosstab_alcohol['High']['White'] + data_crosstab_alcohol['Low']['White'])/len(data)
alcohol_White

0.6756352765321375

In [ ]:
high_alcohol = (data_crosstab_alcohol['High']['Red'] + data_crosstab_alcohol['High']['White'])/len(data)
high_alcohol

0.49656203288490286

In [ ]:
low_alcohol = (data_crosstab_alcohol['Low']['Red'] + data_crosstab_alcohol['Low']['White'])/len(data)
low_alcohol

0.5034379671150971

In [ ]:
high_sugar = (data_crosstab_sugar['High']['Red'] + data_crosstab_sugar['High']['White'])/len(data)
high_sugar

0.48400597907324366

In [ ]:
low_sugar = (data_crosstab_sugar['Low']['Red'] + data_crosstab_sugar['Low']['White'])/len(data)
low_sugar

0.5159940209267564

In [ ]:
cond_prob_alcohol_high_red = (data_crosstab_alcohol['High']['Red']/len(data))/alcohol_red
cond_prob_alcohol_high_red

0.4470046082949308

In [ ]:
cond_prob_alcohol_low_red = (data_crosstab_alcohol['Low']['Red']/len(data))/alcohol_red
cond_prob_alcohol_low_red

0.5529953917050691

In [ ]:
cond_prob_sugar_high_red = (data_crosstab_sugar['High']['Red']/len(data))/alcohol_red
cond_prob_sugar_high_red

0.21843317972350232

In [ ]:
cond_prob_sugar_low_red = (data_crosstab_sugar['Low']['Red']/len(data))/alcohol_red
cond_prob_sugar_low_red

0.7815668202764977